#title {
    font-weight: normal;
    font-size: 42px;
    font-family: "EffectsEightyItalic";

    position: fixed;
    top: 0px;
    left: 0px; 
    padding: 10px;
    margin: 0px;
    width: 100%;
    background-color: lightyellow;
    text-align: center; 
    z-index: 10;
}

#footer {
    position: fixed;
    bottom: 0px;
    left: 0px; 
    padding: 10px;
    margin: 0px;
    width: 100%;
    background-color: lightyellow;
    text-align: center; 
    z-index: 10;
}

body {
    background-image:url("https://wallpaperset.com/w/full/3/c/1/361305.jpg");
}

#container {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.row {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
}

.white {
    border: 1px solid black;
    width: 12.0%;
    height: 60px;
    background-color: white;
    float: left;
}

.black {
    border: 1px solid black;
    width: 12.0%;
    height: 60px;
    background-color: #787878;
    float: left;
}

img {
    margin-left: 5px;
    margin-top:10px;
}

.clear {
    clear: both;
}
